.Intro{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.PartitionOne{
    height: 400px;
}

.PartitionTwo{
    height: 400px;
} */